
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5;
}

@each $name, $value in $font {
    .font-#{$name} {
        font-size: #{map-get($value, "fz")};
        font-weight: #{map-get($value, "fw")};
        letter-spacing: #{map-get($value, "ls")};
        line-height: #{map-get($value, "lh")};
    }
}

@each $name, $color in $color {
    .txt-#{$name} {
        color: $color;
    }
}


.txt-red {
    color: color("danger");
}

.txt-green {
    color: color("success");
}
