.page_main {
    container-type: inline-size;

    &:not(.page-login) {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    // background-image: url("@/assets/images/bg.jpg");

    &-body {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-5x);
    }
}
