.au_btn-style-primary {
    --txt-color: var(--primary-0);
    --txt-hover-color: var(--primary-0);
    --bg-color: var(--primary-4);
    --bg-hover-color: var(--primary-color);
    --bd-color: var(--primary-4);
    --bd-hover-color: var(--primary-color);
}
