$primary: #006185;
$color-primary: (
    lighten($primary, 68%),
    lighten($primary, 50%),
    lighten($primary, 40%),
    lighten($primary, 30%),
    lighten($primary, 20%),
    lighten($primary, 10%),
    lighten($primary, 5%),
    $primary,
    darken($primary, 10%),
);
// $color-primary: (#faf5ff, #eee0ff, #c999ff, #bb80ff, #7023c7, #570eaa, #440e81, #311254, #190d26);
$color-gray: (#fff, #faf9fa, #eae9ed, #d6d3d9, #b2aeb7, #ada9b2, #8c8891, #4c4950, #26222a);
$color: (
    "gray-0": nth($color-gray, 0 + 1),
    "gray-1": nth($color-gray, 1 + 1),
    "gray-2": nth($color-gray, 2 + 1),
    "gray-3": nth($color-gray, 3 + 1),
    "gray-4": nth($color-gray, 4 + 1),
    "gray-5": nth($color-gray, 5 + 1),
    "gray-6": nth($color-gray, 6 + 1),
    "gray-7": nth($color-gray, 7 + 1),
    "gray-8": nth($color-gray, 8 + 1),
    "primary-0": nth($color-primary, 0 + 1),
    "primary-1": nth($color-primary, 1 + 1),
    "primary-2": nth($color-primary, 2 + 1),
    "primary-3": nth($color-primary, 3 + 1),
    "primary-4": nth($color-primary, 4 + 1),
    "primary-5": nth($color-primary, 5 + 1),
    "primary-6": nth($color-primary, 6 + 1),
    "primary-7": nth($color-primary, 7 + 1),
    "primary-8": nth($color-primary, 8 + 1),
    "text-title": nth($color-gray, 8 + 1),
    "text-body": nth($color-gray, 7 + 1),
    "text-note": nth($color-gray, 6 + 1),
    "text-disable": nth($color-gray, 5 + 1),
    "text-highlight": nth($color-primary, 5 + 1),
    "outline-highlight": nth($color-primary, 4 + 1),

    "auxiliary-color-1": #04be02,
    "auxiliary-color-2": #ea4e3d,
    "auxiliary-color-3": #ffaa09,

    "status-color-1": #3bac66,
    "status-color-2": #ffaa09,
    "status-color-3": #ea4f3d,

    "theme-color": #c4d8ff,
    "primary-color": #006185,
    "secondary-color": #C30D23,
    "light-color": #666666,
    "border-color": #333333,
    "panel-color": #222222,
    "primary-button-text-color": #7ff800,
    
    "background-color": #781931,
);
